body {
    background-color: #dadada;
    padding: 1px;
    font-family: Arial;
    text-align: center;
    --violet: #B757EB;
    
    justify-content: center; /* Centers horizontally */
    align-items: center; 


}

body.light {
  background-color: #d8d8d8;
  color: #0F1117;
  --text-color: #0F1117;
  --base-blue: #2596fc;
  

  --shadow-color: rgba(0, 0, 0, 0.15);

}

body.dark {
  background-color: #3c3c3c;
  color: #FAFAFA;
  --text-color: #FAFAFA;
  --base-blue: #1d6ba7;
  --shadow-color: rgba(190, 190, 190, 0.1);

   
}
