body {
    background-color: #dadada;
    padding: 1px;
    font-family: Arial;
    text-align: center;
    --violet: #B757EB;
    font-family: 'Noto sans', sans-serif;
    justify-content: center; /* Centers horizontally */
    align-items: center; 


}

body.light {
  background-color: #dddddd;
  color: #0F1117;
  --text-color: #0F1117;
  --secondary-text: #303957;
  --base-blue: #2596fc;
  --shadow-color: rgba(0, 0, 0, 0.15);
}

body.dark {
  background-color: #3c3c3c;
  color: #FAFAFA;
  --text-color: #FAFAFA;
  --secondary-text: #cfcfcf;
  --base-blue: #227BBF;
  --shadow-color: rgba(190, 190, 190, 0.1);   
}

