
.bigblue {
  color: DodgerBlue;
  padding: 40px;
  font-family: Arial;
  text-align: center;
}

.questionArea {
    background-color: #b2d0fd;
    padding: 10px;
    font-weight: bold;
} 

.results {
    background-color: #b2d0fd;
    padding: 5px;
    margin:10px;
}
button {
  padding: 12.5px 30px;
  border: 0;
  border-radius: 100px;
  background-color: var(--blue);
  color: var(--text-color);
  font-weight: Bold;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
 text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.link {
    padding: 5px;
    color: var(--orange)
}

.startButton:hover {
  background-color: #6fc5ff;
  box-shadow: 0 0 20px #6fc5ff50;
  transform: scale(1.1);
}

.startButton:active {
  background-color: #3d94cf;
  transition: all 0.25s;
  -webkit-transition: all 0.25s;
  box-shadow: none;
  transform: scale(0.98);
}

.navigation {
    background-color: var(--blue);
    padding: 10px;

}
.timer {
    background-color: #c2c2c2;
    border-color: black;
    border-style: solid;
    border-width: 2px;
    padding: 10px;
    margin: 4px;
    border-radius: 20px;
    width: fit-content;
}
.preferencesArea {
    background-color: var(--orange);
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    box-shadow: 5px 3px 3px var(--shadow-color);
     box-shadow: 0 4px 8px 0 var(--shadow-color), 0 6px 20px 0 var(--shadow-color);
}

