.questionArea {
    background-color: var(--base-blue);
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 var(--shadow-color), 0 6px 20px 0 var(--shadow-color);
    width: 80%;
    align-content: center;
    flex-wrap: wrap;
    margin-left: 10%;

    display: flex;
    flex-direction: column;
    align-items: center;
} 
.preferencesArea {
    background-color: var(--base-blue);
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 var(--shadow-color), 0 6px 20px 0 var(--shadow-color);
    width: 80%;
    align-content: center;
    flex-wrap: wrap;
    margin-left: 10%;
}
.results {
    background-color: var(--base-blue);
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 var(--shadow-color), 0 6px 20px 0 var(--shadow-color);
    width: 80%;
    margin-left: 10%;

    display: flex;
    flex-direction: column;
    align-items: center;
}
.questionForm {
  background-color: var(--bg);
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0 2px 4px 0 var(--shadow-color), 0 6px 20px 0 var(--shadow-color);
}
.header {
  color: var(--text-color);
  font-family: 'OCR A Std', monospace;
  font-size: 30px;
  text-shadow: 4px 4px 6px var(--base-blue);

}
button {
  padding: 10px 25px;
  border: 0;
  border-radius: 10px;
  background-color: var(--violet);
  color: #f7f3f4;
  font-weight: Bold;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
 text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
button:hover{
  transform: scale(1.05);
}
button:active{
  background-color: #8d30bf;
}
.link {
    padding: 5px;
    color: var(--secondary-text);
    opacity: 0.9;
}
.link:hover {
  opacity: 1;
  transform: scale(1.02);
}

.startButton:hover {
  background-color: #6fc5ff;
  box-shadow: 0 0 20px #6fc5ff50;
  transform: scale(1.1);
}
.startButton {
  margin: 10px;
  padding: 12.5px 30px;
  border: 0;
  border-radius: 100px;
  background-color: var(--violet);
  color: #f7f3f4;
  font-weight: Bold;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
 text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.startButton:active {
  background-color: #3d94cf;
  transition: all 0.25s;
  -webkit-transition: all 0.25s;
  box-shadow: none;
  transform: scale(0.98);
}

.navigation {
    background-color: var(--base-blue);
    padding: 10px;
    height: 50px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 800;
}
/*font-family: 'OCR A Std', monospace;*/
.timer {
    background-color: #c2c2c2;
    border-color: black;
    border-style: solid;
    border-width: 2px;
    padding: 10px;
    margin:4px;
  
    border-radius: 20px;
    width: fit-content;
}

.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
 background-color: var(--violet);
  height: 10px;
  border-radius: 5px;

  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
  opacity: 0.9;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}
/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 20px; /* Set a specific slider handle width */
  height: 20px; /* Slider handle height */
  background: #8d30bf; /* Green background */
  border-radius: 10px;
  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #8d30bf; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.textInput{
  color: var(--violet);
  font-weight: bold;
  padding: 10px;
  margin: 20px;
  border-radius: 10px;
  border-width: 5px;
  border-color: var(--violet);
}


/**/

.checkbox {
  box-sizing: border-box;
  width: 20px;
  height: 20px;
  margin: 6px;
  padding: 0;
  border: 2px solid #8d30bf;
  appearance: none;
  background-color: var(--violet);
  opacity: 0.8;
  outline: none;
  transition: outline 0.1s;
  border-radius: 4px;
}

.checkbox:checked { /*tausta kun checkedd*/
  background-size: cover;
  padding: 2px;
  opacity: 1;
  transition: opacity 1s;
  /*background-color: aqua;*/
}

.checkbox:not(:disabled):checked { /*checked*/
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="20" height="20" viewBox="0 0 32 32" xml:space="preserve"><path style="fill: %23274c77" d="M11.941,28.877l-11.941-11.942l5.695-5.696l6.246,6.246l14.364-14.364L32,8.818"/></svg>');
}
/*
/*dark/light mode*/
.darkLightSwitch {
  appearance: none;
  -webkit-appearance: none;
  float: right;
  width: 60px;
  height: 32px;
  margin: 10px;
  background: #ccc;
  border-radius: 999px;
  cursor: pointer;
  position: relative;
  transition: background 0.3s ease;
  margin-left: auto;
}

.darkLightSwitch::before {
  content: "";
  position: absolute;

  width: 24px;
  height: 24px;

  top: 4px;
  left: 4px;

  background: white;
  border-radius: 50%;
  transition: transform 0.3s ease;
}

.darkLightSwitch:checked {
  background: #333;
}

.darkLightSwitch:checked::before {
  transform: translateX(28px);
}

/*dark/light mode*/
.radio {
  box-sizing: border-box;
  width: 20px;
  height: 20px;
  margin: 6px;
  border-radius: 20px;
  
  padding: 0;
  border: 2px solid #8d30bf;
  appearance: none;
  background-color: var(--violet);
  
}
.radio:checked {
  padding: 0;
  border: 7px solid #8d30bf;
  appearance: none;
 
 


}